@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
.header_text {
  margin-left: 20px;
  margin-right: 20px;
}
.logo_head {
  height: 45px;
}
.header_tab{
  margin-left: 4%;
  margin-right: 4%;
}

.invis{
  opacity: 0;
}