@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
.header_text {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.logo_head {
  height: 45px;
}
.header_tab {
  padding: 4%;
  padding-right: 4%;
}

.invis {
  opacity: 0;
}
.hd_foot {
  padding: 20px;
  font-family: "Lato", sans-serif !important;
  font-size: 17px;
  border-bottom: 1px solid black;
  padding-left: 4%;
  padding-right: 4%;
}
.div_line{
  border-left: 1px solid black;
}