body {
  background-color: #fffdf6;
}
.page_container {
  margin-left: 5%;
  margin-right: 5%;
}
.bedImage {
  height: 250px;
  border-radius: 20px;
}
.gasImage {
  width: 380px;
  height: 350px;
  border-radius: 20px;
}

.gasSubText {
  max-width: 450px;
}
.repeat {
  height: 50px;
}
.totalguest {
  margin-top: 180px;
}
.ward {
  width: 40%;
  height: 650px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.testimonial_img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.arrowss {
  transform: rotate(180deg);
}
.page_container {
  overflow: hidden;
}
.lan {
  height: 30px;
}
.tv {
  height: 250px;
  border-radius: 10px;
}
.hall {
  height: 300px;
  border-radius: 10px;
}

.hotel_header {
  font-size: 46px;
  font-family: "Switzer", sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 10px;
}

.hotel_div {
  max-width: 800px;
  margin-bottom: 50px;
}
.card_div {
  max-width: 500px;
  text-align: center;
  margin-right: 150px;
  font-family: "Switzer", sans-serif;
  font-weight: 300;
}
.reservation {
  background-color: dodgerblue;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin-top: 20px;
  color: white;
  font-family: "Switzer", sans-serif;
}
.carousel {
  margin-top: 70px;
}
.hook {
  margin-bottom: 60px;
}
.robe {
  height: 500px;
  border-radius: 10px;
}
.testimonial_div {
  border: 1px solid rgba(80, 78, 78, 0.311);
  border-radius: 10px;
  padding: 100px;
}
.testinomola_text {
  font-family: "Switzer", sans-serif;
  font-size: 20px;
  color: rgb(51, 51, 51);
}
.testimonail_line {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.255);
}
.testimonial_person {
  font-size: 18px;
  font-family: "Switzer", sans-serif;
  font-weight: 400;
}
.testimonial_occ {
  font-size: 15px;
  font-family: "Switzer", sans-serif;
  font-weight: 300;
}
.reviews {
  font-size: 36px;
  font-family: "Switzer", sans-serif;
}
.view_reviews {
  margin-top: 50px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid;
}
.tet {
  font-family: "Switzer", sans-serif;
  color: dodgerblue;
  font-size: 15px;
  font-weight: 400;
}

.testimonial_tab {
  margin-bottom: 150px;
}
.facts_div {
  background-color: black;
  color: white;
  padding-bottom: 70px;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-top: 130px;
}
.facts_img {
  height: 250px;
  border-radius: 10px;
}
.fact_num {
  font-family: "Switzer", sans-serif;
  font-size: 130px;
  font-weight: 100;
}
.fact_sub_num {
  font-family: "Switzer", sans-serif;
  font-size: 20px;
  margin-top: 50px;
}
.fact_sub_txt {
  font-family: "Switzer", sans-serif;
  font-size: 18px;
  margin-top: 50px;
  color: rgba(120, 119, 119, 0.758);
}

.factline {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.356);
  height: 0.1px;
}

.contact_btn {
  width: 150px;
  height: 50px;
  background-color: dodgerblue;
  color: white;
  border-radius: 30px;
}
.services {
  border: 1px solid rgba(119, 119, 119, 0.342);
  border-radius: 20px;
  margin-top: 100px;
  padding-right: 80px;
}
.service_tab {
  padding-top: 110px;
}
.service_text {
  font-size: 40px;
  font-family: "Switzer", sans-serif;
  margin-bottom: 10px;
}

.services_header {
  font-size: 25px;
  font-family: "Switzer", sans-serif;
  font-weight: 500;
  margin-top: 50px;
}
.room_icon {
  height: 20px;
  margin-right: 6px;
}
.Hotel_class {
  font-family: "Switzer", sans-serif;
  font-size: 25px;
}
.hotel_dets {
  margin-right: 14px;
  margin-left: 7px;
  font-family: "Switzer", sans-serif;
  font-size: 15px;
}
.arrows_icons {
  margin-top: 17px;
  height: 20px;
}

.view_rooms {
  width: 150px;
  border-radius: 20px;
  height: 40px;
  border: 1px solid black;
  margin-top: 7px;
}
.booking_btn{
  width: 150px;
  border-radius: 20px;
  height: 40px;
  border: 1px solid black;
  margin-top: 20px;
  font-family: "Switzer", sans-serif;

}
.dedicated {
  font-family: "Switzer", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Switzer", sans-serif;

}
